# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment variables & local configs
.env
.vscode/
.idea/
.DS_Store

# Data & Model outputs / logs
*.tar
*.tar.gz
*.pptx

# TabM data binaries
tabm_repo/data/
tabm_repo/local/
